body {
  margin-top: 0px;
  font-family: 'Raleway';
  background-color: white;
  margin: 0px;
}

.container {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "topo"
    "imagem"
    "noticias"
    "links"
    "apresentacao"
    "mapa"
    "footer";     
    margin-left: auto;
    margin-right: auto;    
}

.topo {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "cabecalho"
    "menu"; 
  grid-area: topo; 
    
}

.cabecalho-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.cabecalho {   
  grid-area: cabecalho; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cabecalho-esquerda {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
}

.logo {
  background-color: white;
  height: 83px;   
  display: flex;  
}

.titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}

.centro-titulo {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  
  color: #747474;

  display: flex;  
}

.departamento-titulo {  
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  
  color: #000000;

  display: flex;
  flex-shrink: 1;
}

.brasao {
  background-color: white;
  height: 83px;
  width: 58px;
  margin: 24px 0px 24px 10px;
}

.menu-wrapper {
  background-color: #E15323;  
  margin: 0 auto;
  width: 100%;
  max-height: 45px;
  display: flex;
  justify-content: center;
}

.menu { 
  height: auto;
  grid-area: menu; 
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;  
  padding-top: 10px;
  padding-bottom: 14px;
}

.menu ul {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  margin: 0px;

  color: white;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}

.imagem {   
  height: 300px;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover; 
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px -16px 16px rgba(0, 0, 0, 0.25);
}

.corpo {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 60px;
}

.secoes {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;

  color: #666666;
}

.conteudo {
  min-height: 415px;
  margin-top: 40px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  gap: 30px;
}

.noticias-coluna {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.noticias { 
  width: 1170px;
  grid-area: noticias; 
}

.noticia-sem-img {
  width: auto;
  min-height: 200px;

  padding-top: 16px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 32px;

  background: #FFFFFF;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
}

.noticia-data-tag {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;    
}

.texto-pequeno-sem-img {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8D8B8B;

  
}

.noticia-sem-img-titulo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.noticia-sem-img-titulo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #E15323;

}

.mais-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links { 
  grid-area: links; 
  background-color: cornflowerblue;
}
.apresentacao { 
  grid-area: apresentacao; 
  background-color: darkgoldenrod;
}
.mapa { 
  grid-area: mapa; 
  background-color: blueviolet;
}
.footer { 
  grid-area: footer; 
  background-color: darkmagenta;
}