* { padding: 0; margin: 0; }

body {
  margin-top: 0px;
  font-family: 'Rawline', 'Raleway', sans-serif;
  background-color: white;
  margin: 0px;
}

:root {
  --cor-tema: #E15323;
  --cor-background: white;
  --cor-footer: black;
  --cor-middleground: #F2F2F2;
  --cor-highlight: #E15323;
  --cor-footer-conteudo: white;
  --cor-item-nav: var(--cor-background);
  --cor-texto-escuro: #333333;
  --cor-texto-medio: #555555;
  --cor-texto-claro: white;

  font-size: 14px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.45;
  color: var(--cor-texto-escuro);  
  margin-bottom: 16px;
}

h1 {
  font-size: 2.074rem;
  font-weight: 300;
  line-height: 1.15;
  color: var(--cor-texto-medio);
  margin-bottom: 32px;
}

img {
  height: 100%;
}

.camada-1 {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) ;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "topo"
    "imagem"
    "noticias"
    "links"
    "apresentacao"
    "mapa"
    "footer";
    margin-left: auto;
    margin-right: auto;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  grid-area: topo;
  margin: 0 auto;
}

.cabecalho-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cabecalho-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;

  } 
.cabecalho {
    grid-area: cabecalho;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items : center;
  max-width: 1170px;
  width: 100%;
  margin: 24px 30px;

}

.cabecalho-esquerda {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}

.logo {
  background-color: white;
  height: 83px;
  display: flex;
}

.titulos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.centro-titulo {
  font-style: normal;
  font-weight: 500;
  font-size: 1.44rem;
  line-height: 1.15;
  text-transform: uppercase;

  color: var(--cor-texto-medio);

  display: flex;
}

.departamento-titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 2.074rem;
  line-height: 1.15;

  color: var(--cor-texto-escuro);

  display: flex;
  flex-shrink: 1;
}

.brasao {
  height: 100px;
}

.menu-wrapper {
  background-color: var(--cor-tema);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 48px;
}

.menu {
  grid-area: menu;

  display: flex;
  justify-content: space-between;
  width : 100%;
  max-width: 1170px;
  margin: 0 30px;

  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  color: var(--cor-item-nav);
  font-size: 1.44rem;
  font-weight: 600;
  list-style-type: none;
  line-height: 1.15;
}

#menu-buttons {
  display: flex;
  flex-direction: row; 
  gap: 16px;
}

#menu-buttons i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 1.44rem;
  line-height: 1.15;
  color: var(--cor-item-nav);
}

.menu ul {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  margin: 0;

  color: white;
  font-size: 1.44rem;
  font-weight: 600;
  list-style-type: none;
  line-height: 1.15;  
}

.menu ul li a{  
  display: block;
  margin-right: 26px;  
  padding: 10px 0 14px;
  box-sizing: border-box;
}

.menu ul li ul {  
  margin-top: 0px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16) ;
  z-index: 1;
}

.menu ul li ul li a{
  display: block;
  color: #E15323;
  font-size: 16px;
  font-weight: 600;
  list-style-type: none;
  padding: 10px 16px 10px;
  margin: 0;
  text-decoration: none;
}

.menu ul li ul li a:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.imagem {
  height: 30vh;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover; 
}

.corpo {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 60px;
}

.secoes {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;

  color: #666666;
}

.preto {
  color: #000000;
}

.noticias {
  max-width: 1170px;
  margin: 0px 30px;
}

.conteudo {
  min-height: 300px;
  margin-bottom: 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "coluna1 coluna2";
  gap: 30px;
}

.noticias-coluna {
  grid-area: coluna2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.noticias-coluna-unica {
  grid-area: coluna1;
}

.noticia-sem-img {
  position: relative;
  width: 100%;
  min-height: 140px;
  height: 100%;

  box-sizing: content-box;

  background: var(--cor-background);

  display: flex;
  flex-direction: column;
}

.noticia-com-img {
  width: auto;
  min-height: 140px;
  height: 100%;

  padding-left: 26px;
  padding-right: 26px;
  
  
  background-size: cover;  
  background-position: center;

  display: flex;
  flex-direction: column;
}

.rotulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--cor-texto-medio);
  margin: 16px 26px;
} 

.texto-pequeno-sem-img {  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #8D8B8B;
}

.texto-pequeno-com-img {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}

.noticia-com-img-titulo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    overflow: hidden;  
}

.noticia-sem-img-titulo {  
  font-style: normal;
  font-weight: 600;
  font-size: 1.728rem;
  line-height: 1.15;
  color: var(--cor-tema);

  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 26px 33.4px;
}

.noticia-com-img-titulo {  
  font-style: normal;
  font-weight: 600;
  font-size: 1.728rem;
  line-height: 1.15;
  color: #ffffff;
  margin: auto 0 16px 0;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);  
}

.mais-link {
  display: flex;
  flex-direction: row;
    /*justify-content: flex-end; */
    
  font-style: normal;
  font-weight: 600;
  font-size: 1.44rem;
  line-height: 1.15;

  /* identical to box height, or 111% */

  color: #E15323;
  margin-bottom: 16px;
}

.mais-link::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: #E15323;

  vertical-align: middle;

  margin-left: 0.5rem;  

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.mais-link:hover::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f061";
  color: #E15323;

  vertical-align: middle;

  margin-left: 0.5rem; 

  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;

  transform: translateX(5px);
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area : links;
  width: 100%;justify-content: center;

  background-color: #F2F2F2;
}

.links {  
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
  gap: 40px;  margin: 0 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  max-width: 1170px;
  height: auto;

  /* BG BLOCO */
  background: #F2F2F2;
  
}

.link-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

.link-image-wrapper {
  width: 100px;
  height: 100px;
  border: 3px solid #E15323;
  color: #E15323;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.link-image {
  display: block;
  width: 60%;
  height: 60%;
}

.link-text {
  width: 120px;

  font-style: normal;
  font-weight: 600;
  font-size: 1.44rem;
  line-height: 1.15;

  /* or 125% */
  text-align: center;

  color: #111111;
}

.apresentacao1 {
  /* Auto layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "titulo-apresentacao yt"
    "texto-apresentação yt";
  padding: 50px 30px;
  margin: 0 30px;

  max-width: 1110px;
  width: 100%;
  height: auto;

  /* BG BLOCO */
  background: #F2F2F2;
}

.apresentacao {
  /* Auto layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "titulo-apresentacao yt"
    "texto-apresentacao yt";
  padding: 50px 30px;
  margin: 0 30px;
  column-gap: 30px;

  max-width: 1110px;
  height: auto;

  /* BG BLOCO */
  background: #F2F2F2;
}



#apresentacao-titulo {
  grid-area: titulo-apresentacao;
  height: fit-content;
}

.apresentacao-conteudo {
  grid-area: texto-apresentacao;
  display: flex;
  flex-direction: column;
}

.youtube {
  grid-area: yt;
  height: 304px;
  width: 100%;
}

.mapa {
  grid-area: mapa;
  max-width: 1170px;
  margin: 0 30px;
  display: grid;
  grid-template-rows: min-content min-content;
  
}

.mapa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "mapa-e-foto so-foto";
  gap: 30px;
}

#mapa-coluna1 {
  grid-area: mapa-e-foto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

#mapa-coluna2 {
  grid-area: so-foto;
}

.mapa img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


#footer-wrapper {
  display: flex;
  width: 100%;
  background-color: #000000;
  justify-content: center;  
  margin: 0 auto;
}

footer {
  width: 100%;
  max-width: 1170px;
  margin: 30px 30px 30px 30px;
  display: flex;
  gap: 20px; 
  flex-direction: column;
  align-items: flex-start; 

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.45;  
  color: var(--cor-texto-claro);
}


#footer-dados {  
  height: min-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

#footer-dados > div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 4px;
}

#footer-dados > div > div:first-child {
  font-size: 1.728rem;
  line-height: 1.15;
  font-weight: 700;
}

#footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}

#footer-logo {
  height: 200px;
}

.footer-direita {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items: flex-end;  
}

#footer-contato {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;


  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

#redes-sociais {
  display: flex;
  flex-direction: row; 
  gap: 10px;
}

#redes-sociais i {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 2.986rem;
}

#footer-creditos {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 50px;
}

.img-creditos {
  height: 100%;
}

.botao-menu {
  height: 100%;
  width: 25px;
}

#footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

#footer-linha {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 10px;
}

#footer-ultima-linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
  width: 100%;
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 12px;
  }

  .noticias {
    margin-left: 20px;
    margin-right: 20px;
  }

  .apresentacao {
    margin-left: 20px;
    margin-right: 20px;
  }

  .mapa {
    margin-left: 20px;
    margin-right: 20px;
  }  

  .conteudo {
    min-height: 415px;
    margin-top: 40px;
    margin-bottom: 30px;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "coluna1"
    "coluna2";
    gap: 20px;
  }

  .noticias-coluna {
    gap: 20px;
  }

  .corpo .apresentacao {
    /* Auto layout */
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "titulo-apresentacao"
      "yt"
      "texto-apresentacao";
    padding: 50px 30px;
    margin: 0 30px;
    column-gap: 30px;
    row-gap: 40px;
    max-width: 1110px;
    height: auto;
    /* BG BLOCO */
    background: #F2F2F2;
  }

  .mapa .mapa-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "mapa-e-foto";
    gap: 30px;
  }

  #mapa-coluna2 {
    display: none;
  }

  .topo {
    display: none;
  }  

  footer {
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  #footer-top {
    flex-direction: column;
    gap: 20px;
  }

  #footer-logo {
    height: 150px;
  }

  .footer-direita {  
  }

  #footer-dados > div{
  }

  #footer-dados > div > div:first-child {
  }

  #footer-contato {    
  }

  #footer-creditos {
  }

  #footer-ultima-linha {
    flex-direction: column;
    gap: 4px;
  }

  #redes-sociais {
  }

}